.card-link{
    text-decoration: none;
    color: inherit;
}

.card {
    background-color: #fff;
    border-radius: 12px;
    padding: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card-img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    background-color: #f5f5f5;
    border-radius: 12px 12px 0 0;
}

.card h3 {
    margin-top: 10px;
    text-align: center;
    color: #AF3E3E;
}